importFrom(graphics, plot,pairs,barplot, axis)
importFrom(utils, combn, data)
importFrom(mvtnorm, rmvnorm)
importFrom(survey, pchisqsum)
import("stats","methods")
exportClasses("ics")
exportMethods("plot","coef","summary","show","fitted")
export(ics,cov4,covAxis,covOrigin,ics.components,mean3,mvnorm.skew.test,mvnorm.kur.test, tM, cov4.wt, scovq)
S3method(screeplot,ics)