importFrom(graphics, plot,pairs,barplot)
importFrom(utils, combn)
importFrom(mvtnorm, rmvnorm)
importFrom(survey, pchisqsum)
import("stats","methods")
exportClasses("ics")
exportMethods("plot","coef","summary","show","fitted")
export(ics,cov4,covOrigin,ics.components,mean3,mvnorm.skew.test,mvnorm.kur.test)
S3method(screeplot,ics)